.deuxieme-section {
    margin-top: 5%;
}

.services-groupes {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
}

.image-dev-et-mobile {
    width: 50%;
    height: 50;
    margin-top: 2%;
}

.nom-du-service {
    text-align: center;
    margin-left: 5%;
}



.image-maquettage-web-et-mobile--et--redaction-de-cahier-de-charges{
    width: 50%;
    height: 50;
}

.group-1-competence {
    display: flex;
    margin-top: 2%;
}

.group-2-competence {
    display: flex;
    margin-top: 3%;

}

.bouton-competence {
    margin-left: 5%;
}