.menu-header {
padding: 2%;
width: 200%;
}

.menu-groupe-1{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
   
}


.menu-bouton{
    margin: 2%;
    text-decoration: none;
    cursor: pointer;
    font-family: inter;
    text-align: center;
}

.color-texte-menu{
    color: black;
}
