.menu-principal {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 3%;
}

.menu-groupe-1{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}


.menu-bouton{
    margin: 6%;
    text-decoration: none;
    cursor: pointer;
    font-family: inter;
    text-align: center;
}

.color-texte-menu{
    color: black;
}

.group-icone-contact{
            width: 200px;
            height: 100px;  
}
